<!DOCTYPE html>
<html>
<head>
  <title>RujiaSession</title>
  <%= stylesheet_link_tag    "rujia_session/application", media: "all" %>
  <%= javascript_include_tag "rujia_session/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
